.sdkSwitcher {
  margin: 3.5rem 0.5rem 0rem 0.75rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.switcherLabel {
  padding-left: 0.25rem;
  font-weight: bold;
  font-size: small;
  color: var(--ifm-menu-color);
}

.switcherButton {
  box-sizing: border-box;
  border: 0 solid var(--ifm-color-gray-300);
  text-transform: none;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  position: relative;
  width: 100%;
  cursor: default;
  min-width: 12rem;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  text-align: left;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.switcherButtonContent {
  display: flex;
}

.switcherButtonText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0.75rem;
  display: block;
}

.switcherButtonIconGroup {
  align-items: center;
  pointer-events: none;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin-left: 0.75rem;
  padding-right: 0.5rem;
}

.switcherButtonIcon {
  height: 1.25rem;
  width: 1.25rem;
}

[data-theme='dark'] .switcherList {
  color: white;
  background-color: var(--ifm-dropdown-background-color);
}

.switcherList {
  color: #000;
  box-shadow: var(--ifm-global-shadow-md);
  word-wrap: break-word;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: absolute;
  z-index: 10;
  width: 100%;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 263px;
}

/* li */
.switcherListOption[aria-expanded='true'] {
  word-wrap: break-word;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  margin-top: 0.25rem;
  overflow: auto;
  position: absolute;
  z-index: 10;
  max-height: 14rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.switcherListOptionActive {
  background-color: var(--ifm-dropdown-hover-background-color);
}

/* div */
.switcherListOptionContent {
  cursor: default;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
}

/* span */
.switcherListOptionText {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

/* span - selected option */
.switcherListOptionTextSelected {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--ifm-color-primary);
}

/* span selected option check mark container */
.switcherListOptionSelected {
  display: flex;
  align-items: center;
  color: var(--ifm-color-primary-darkest);
  background-color: var(--ifm-dropdown-hover-background-color);
}

.switcherListOptionSelectedActive {
  color: var(--ifm-color-primary-contrast-foreground);
}

/* svg */
.switcherListOptionSelectedCheck {
  height: 1.25rem;
  width: 1.25rem;
}
