.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  composes: text-heading-01 from '../../css/custom.css';
  margin: 0;
  text-align: center;
  color: var(--ifm-color-home-text-primary);
}

.subtitle {
  composes: text-body-01 from '../../css/custom.css';
  margin: 0;
  text-align: center;
  color: var(--ifm-color-home-text-primary);
}
