.communityCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 240px;
  padding: 2rem 3rem 2rem 1.5rem;
  border-radius: 16px;
  border: 2px solid #131313;
  background: var(--ifm-color-home-elevation-00);
}

[data-theme='dark'] .communityCardContainer {
  border: none;
  background: var(--ifm-color-home-elevation-02);
}

@media (min-width: 640px) {
  .communityCardContainer {
    height: 260px;
  }
}

.imageBackground {
  border: none;
  /* Removing gradient background until new branding is released */
  /* background-image: url(/static/img/hero.jpg); */
  background: #e0e0e0;
}

.imageBackground:first-child {
  background-position-x: -150px;
  background-position-y: -14px;
}

.imageBackground:nth-child(4) {
  background-position-x: -677px;
  background-position-y: -205px;
}

.contentSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-family: 'Suisse-Intl';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: var(--ifm-color-home-text-primary);
  margin: 0;
}

.subtitle {
  font-family: 'Suisse-Intl';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: var(--ifm-color-home-text-primary);
  margin: 0;
  margin-top: 10px;
}

.cardButton {
  width: 160px;
}

@media (min-width: 768px) {
  .cardButton {
    width: fit-content;
  }
}