.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 123px;
  width: 100%;
  max-width: 1024px;
}

.footerText {
  composes: text-body-01 from '../../css/custom.css';
  color: var(--ifm-color-home-text-primary);
  text-align: left;
  margin: 0;
}

.footerText>a {
  color: var(--ifm-color-home-text-primary);
  text-decoration: none;
}

.footerIcon {
  width: 40px;
  height: 40ox;
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.displayFromSmall {
  display: none;
}

.socialIcons {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 300ms ease-in-out;
  background-color: var(--ifm-color-home-elevation-01);
}

.socialIcons:hover,
.socialIcons:active {
  background-color: var(--ifm-color-home-elevation-02);
}

[data-theme='dark'] .socialIcons {
  background-color: var(--ifm-color-home-elevation-03);
}

[data-theme='dark'] .socialIcons:hover,
[data-theme='dark'] .socialIcons:active {
  background-color: var(--ifm-color-home-elevation-04);
}

.starkwareIconContainer {
  display: flex;
  align-items: center;
  margin: 5px;
}

.starkwareIcon {
  float: right;
  cursor: pointer;
  width: 125px;
  background-repeat: no-repeat;
  height: 23px;
  margin: 0 5px;
  display: block;
}

.starkware {
  background-image: url(/static/img/logo--starkware-light.svg);
}

[data-theme='dark'] .starkware {
  background-image: url(/static/img/logo--starkware-dark.svg);
}

.discord {
  background-image: url(/static/img/discordLight.svg);
}

[data-theme='dark'] .discord {
  background-image: url(/static/img/discordDark.svg);
}

.twitter {
  background-image: url(/static/img/twitterLight.svg);
}

[data-theme='dark'] .twitter {
  background-image: url(/static/img/twitterDark.svg);
}

.telegram {
  background-image: url(/static/img/telegramLight.svg);
}

[data-theme='dark'] .telegram {
  background-image: url(/static/img/telegramDark.svg);
}

.reddit {
  background-image: url(/static/img/redditLight.svg);
}

[data-theme='dark'] .reddit {
  background-image: url(/static/img/redditDark.svg);
}

.studioIcon {
  background-image: url(/static/icons/StudioDark.png);
  background-size: contain
}

[data-theme='dark'] .studioIcon {
  background-image: url(/static/icons/StudioLight.png);
  background-size: contain
}

@media (min-width: 640px) {

  .footerIcon,
  .socialIcons {
    width: 48px;
    height: 48px;
  }

  .displayFromSmall {
    display: block;
  }

  .center {
    gap: 1rem;
  }
}